@use './styles/' as *;

* {
  margin: 0;
  padding: 0;
  font-family: SB Sans Interface;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

body {
  background-color: #f4f4f5;
}

#root {
  align-items: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
